@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import "../scss/variables.scss";

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;

}
html{
  width: 100%;
}
body {
background: $background-linear-ios;
background: $background-linear;
background-attachment: fixed;
}

.main-container {
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
}
nav{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 1.25rem;
}
.router{
  font-size: 1.25rem;
  color: white;
  text-decoration: none;
  transition: 0.7s ease-in;
  border-radius: 10px;
  padding: 0.6rem;
}
.router:hover{
  background-color: rgba(255,255,255,0.3);

}
.search-weather {
  margin-top: 20px;
  justify-content:center;
  align-items:center;
  display:flex;
}
.input-search {
  outline: none;
  border-radius: 0 14px 0 14px;
  background-color: $light-gray;
  border: none;
  padding: 10px;
  color: white;
}
.error-p{
  color: red;
  margin-top: 15px;
  text-align: center;
}
.input-search:focus {
  background-color: $light-gray;
}

.location-and-date {
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.searched-town-p{
  color: white;
  font-size:2.5rem;
}
.date-p{
  color: white;
}
.searched-weather{
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  max-width: 100%;
  margin-bottom: 2rem;
}
.weather-of-searched-town {
  display: flex;
  flex-direction: row;
  flex-basis: 50%;
  max-width: 50%;
  margin-top: 20px;
  padding: 20px;
}
.temperature-in-town{
  display: flex;
  align-items:center;
  flex-direction: column;
  color: white;
  font-size: 4.5rem;
  padding: 20px;
}
.text-temperature{
  color: white;
  font-size: 1.3rem;
}
.temperature-img{
  display: flex;
  align-items:center;
}
.temperature-img img{
  width: 9.4rem;
  height: 9.4rem;
}
.weather-in-details{
  display:flex;
  flex-basis: 50%;
  max-width: 50%;
  margin-top: 20px;
  padding: 20px;
  flex-direction: column;
  color:white;
  border-left: 1px solid white;
}
.weather-in-details-inner{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-basis: 100%;
  max-width: 100%; 
}
.highest{
  @include flex-positioning;
}
.lowest{
  @include flex-positioning;
}
.rain{
  @include flex-positioning;
}
.weather-text-inner{
  color: rgba(255,255,255,0.5);
}
.todays-weather-text{
  color: white;
  margin-top: 1.2rem;
}
.todays-weather{
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  color: white;
  flex-wrap: wrap;
  justify-content: center;
}
.todays-days{
  display: flex;
  flex-direction: column;
  flex-basis: calc(14.2857142857% - 15px);
  max-width: calc(14.2857142857% - 15px);
  align-items: center;
  padding: 0.6rem;
  margin: 15px 7.5px 0px 7.5px;
  background-color: rgba(255,255,255,0.3);
  border-radius: 0.6rem;
  height: 100%;
}
.todays-p{
  font-size: 0.9rem;
}
.todays-svg{
  width: 5em;
}
.next-2-days-p{
  color: white;
  margin-top: 1.2rem;
}
.next-2-days{
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
}
.next-2-days-inner{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-width: 10px 0 0 0;
  border-style: solid none none none;
  border-image: $border-linear-ios;
  border-image: $border-linear;
  margin-top: 1rem;
  text-align: center;
  justify-content: center;
}
.weather-for-2-days{
  display: block;
  flex-basis: 16.66%;
}
.weather-for-2-days-first-p{
  color: white;
}
.weather-for-2-days-second-p{
  color: rgba(255,255,255,0.5);
}
.weather-for-2-days-svg{
  max-width: 5em;
}
@media(max-width: 975px){
  .main-container{
    max-width: 720px;
    width: 100%;
  }
  @media(max-width: 720px){
    .main-container{
      margin: 0;
    }
    .next-2-days-p{
      margin-left: 0.5rem;
    }
    .next-2-days-inner{
      margin: 1rem 0.5rem 0rem 0.5rem;
    }
    .todays-weather-text{
      margin-left: 0.5rem;
    }
   .searched-weather{
     justify-content: center;
   }
   .location-and-date{
     padding-left: 1rem;
   }
   .weather-of-searched-town{
     padding-left: 0 2.2rem;
   }
   .weather-of-searched-town{
     flex: 0 0 100%;
     max-width: 100%;
     justify-content: center;
   }
   .weather-in-details{
     flex: 0 0 90%;
     max-width: 90%;
     border-top: 1px solid white;
     border-bottom : 1px solid white;
     border-left: none;
   }
   
   .weather-in-details-inner{
     margin-bottom: 15px;
     padding:0.6rem;
   }
  }
  @media(max-width: 645px){
    .todays-weather{
      justify-content: center;
    }
    .todays-svg{
      width: 4.375em;
    }
    .todays-days{
      flex-basis: calc(16.6666666667% - 15px);
      max-width: calc(16.6666666667% - 15px);
    }
  }
   @media(max-width: 550px){
     .todays-svg{
      width: 3.75em;
    }
    .todays-days{
      flex-basis: 20%;
      max-width: 20%;
    }
    .weather-for-2-days-first-p{
      font-size: 0.7rem;
    }
    .weather-for-2-days-second-p{
      font-size: 0.7rem;
    }
    .weather-for-2-days-svg{
      max-width: 4em;
    }
    .next-2-days-inner{
      border-top: 5px solid;
    }
    .todays-p{
      font-size: 0.8rem;
    }
    .next-2-days-p{
      font-size: 0.8rem;
    }
   }
  @media(max-width: 380px){
    .weather-in-details-inner{
      font-size: 0.8rem;
    }
    .temperature-img img{
      width: 7.5rem;
      height: 7.5rem;
    }
    .temperature-in-town{
      font-size: 4rem;
    }
    .todays-weather-text{
      margin-left: 0.8rem;
      font-size: 0.8rem;
    }
    .text-temperature{
      font-size: 1.1rem;
    }
    .todays-svg{
      width: 3.125em;
    }
  }
}